@font-face {
  font-family: 'muli';
  src: url('./assets/fonts/Muli-Light.ttf');
}

/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */
body {
  max-width: 1600px;
  /* width: 100%; */
  height: 100h;
  margin: 0 auto;
  background: #ffffff;
  box-sizing: border-box;
}
.header {
  max-width: 1491px;
  height: 768px;
  margin-top: 51px;
  margin-left: 40px;
  margin-right: 69px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.heder_nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 43.2px;
  height: 41px;
  margin-left: 116.96px;
}
.top_nav {
  max-width: 698px;
  margin-right: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  align-items: center;
  color: rgba(184, 190, 205, 1);
  opacity: 100%;
  margin-left: 35px;
}
.nav:hover {
  color: rgba(32, 35, 54, 1);
}
a {
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login_btn {
  padding-left: 47px;
  padding-right: 47px;
  /* padding-top: 0px; */
  /* padding-bottom: 0px; */
  /* width: 140px; */
  height: 60px;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  color: rgba(251, 143, 29, 1);
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  /* letter-spacing: 0em; */
  margin-left: 35px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.register_btn {
  border: none;
  background-color: #fb8f1d;
  border: 1px solid #fb8f1d;

  border-radius: 8px;
  padding-left: 37px;
  padding-right: 37px;
  /* width: 140px; */
  height: 60px;
  color: rgba(255, 255, 255, 1);
  opacity: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  align-items: center;
  margin-left: 19px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block {
  display: flex;
  justify-content: space-between;
  /* margin-top: 72px; */
}
.element {
  margin-top: 459px;
  width: 25.95px;
  height: 26px;
}
.block3 {
  margin-left: 114.85px;
  margin-top: 114px;
  display: flex;
  flex-direction: column;
}
.heder_title {
  max-width: 375px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: 'Playfair Display' sans-serif;
  font-weight: 700px;
  font-size: 64px;
  line-height: 80px;
  color: rgba(32, 35, 54, 1);
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block2 {
  max-width: 496.3px;
  height: 344px;
  margin-top: 74px;
}
.header_h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  color: rgba(32, 35, 54, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle {
  /* margin-top: 51px; */
  /* width: 33.72px; */
  /* height: 2px; */
  /* border-radius: 4px; */
  /* background-color: #202336; */
}
.header_select {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
select {
  margin-top: 35px;
  width: 232px;
  height: 52px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  padding-left: 31px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
}
.btn_explore {
  margin-top: 47px;
  padding-left: 62px;
  padding-right: 62px;
  /* width: 140px;
  height: 52px; */
  border-radius: 8px;
  border: none;
  background-color: rgba(251, 143, 29, 1);
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 17px;
  line-height: 60px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.element3 {
  width: 21px;
  height: 20px;
  margin-top: 185px;
  margin-right: 138px;
}
.thousand_img {
  /* max-width: 100%; */
  max-width: 723px;
  margin-top: 70px;
}
.element2 {
  margin-left: 687px;
  width: 21px;
  height: 20px;
}
.section {
  max-width: 1242px;
  height: 550px;
  padding-top: 270px;
  padding-left: 141px;
  /* margin-top: 270px;
  margin-left: 141px; */
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.block4 {
  margin-left: 102px;
  max-width: 481px;
  height: 333px;
}

.section_element3 {
  margin-left: 26px;
}

.section_element2 {
  margin-left: 327px;
}
.section_thousand {
  max-width: 100%;
  /* max-width: 659px; */
  /* height: 534px; */
}

.section_h3 {
  font-family: 'Playfair Display' sans-serif;
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_p {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section_span {
  max-width: 450px;
  height: 120px;
  margin-right: 31px;
  margin-top: 20px;
}
.section_btn {
  /* width: 164px; */
  height: 48px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 0px;
  border-radius: 8px;
  background-color: #fb8f1d;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section_2 {
  max-width: 1239px;
  height: 532px;
  margin-left: 121px;
  margin-top: 262px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.section_2_element2 {
  margin-left: 1048px;
}
.section_2_block_title {
  /* max-width: 1120px; */
  margin-top: 10px;
  margin-left: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_all {
  font-family: 'Inter', sans-serif;
  color: #fb8f1d;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  mix-blend-mode: normal;
  max-width: 79px;
  height: 60px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section_2-container_img {
  max-width: 1120px;
  margin-left: 119px;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.section_2_element3 {
  /* margin-top: 309px; */
}

.section_2_element2-2 {
  margin-left: 622px;
  margin-top: 39px;
}
.section_2_block_img {
  position: relative;
}
.section_2_img {
  max-width: 261px;
  height: 337px;
  border-radius: 6px;
  margin-top: 56px;
}
.text_img {
  position: absolute;
  background: #ffffff;
  border-radius: 0px 6px 0px 0px;
  width: 120px;
  height: 56px;
  left: 0px;
  top: 337px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_2-h3 {
  font-family: 'Playfair Display' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  display: flex;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  mix-blend-mode: normal;
  color: rgba(128, 145, 142, 1);
}

/* sect 3 */

.section_3 {
  max-width: 1205px;
  height: 542px;
  margin-top: 173px;
  margin-left: 240px;
  display: flex;
  justify-content: space-between;
}

.section_3-block {
  max-width: 481px;
  height: 303px;
  /* background-color: red; */
}

.section_3-container {
  margin-top: 45px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-around; */
}

.section_3-block2 {
  display: flex;
}
.section_3-block-h3-container {
  margin-top: 47px;
  max-width: 481px;
  height: 100px;
}
.section_3-block-h3 {
  font-family: 'Playfair Display' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  /* padding-right: 40px; */
}
.section_3-block-p-container {
  margin-top: 20px;
  max-width: 450px;
  height: 90px;
}
.section_3-block-p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_3-container-element2 {
  margin-top: 85px;
  margin-left: 45px;
}

.section_3-block-btn-container {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}
.section_3-block-btn {
  box-sizing: border-box;
  background: #fb8f1d;
  border: none;
  border-radius: 8px;
  width: 164px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-style: 16px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  mix-blend-mode: normal;
  cursor: pointer;
}

.section_3-block2-img {
  /* width: 100%; */
  min-width: 599px;
  height: 542px;
}

/* section_4 */

.section_4 {
  max-width: 1180px;
  height: 616px;
  margin-top: 248px;
  margin-left: 96px;
  box-sizing: border-box;
}
.section_4-container-h3 {
  max-width: 481px;
  height: 50px;
}

.section_4-h3 {
  font-family: 'Playfair Display' sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_4-container {
  display: flex;
  justify-content: space-between;
  /* padding-top: 43px; */
}
.section_4-container-element2 {
  margin-top: 249px;
}

.section_4-block {
  width: 450px;
  height: 321px;
  /* background-color: red; */
  margin-left: 122px;
  margin-top: 145px;
}
.section_4-block-2 {
  margin-left: 170px;
  width: 417px;
  height: 523px;
  /* background-color: #fb8f1d; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_4-block-frame {
  width: 189px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.section_4-block-container-p {
  width: 450px;
  height: 144px;
}
.section_4-block-p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_4-block-2-img {
  position: absolute;
}

.section_4-block-2-img-element3 {
  width: 32px;
  height: 32px;
  position: relative;
  top: 247px;
  right: 210px;
}

.section_4-block-2-element2 {
  position: relative;
  bottom: 245px;
  left: 200px;
  z-index: 0;
}

.section_4-block-2-img-text {
  position: relative;
  width: 132px;
  height: 60px;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  /* top: 330px; */
  left: 90px;
  top: 217px;
}
